<section class="footer">
  <div class="footer-wrapper">
    <section class="section1">
      <div class="section1-wrap">
        <div class="footer-group">
          <h3 class="footer-group-header">Solutions</h3>
          <span>Manage</span>
          <span>Staged Processes</span>
          <span>Marketing</span>
          <span>Bonuses</span>
          <span>Pricing
            <button mat-button color="#ffc006">Try for free!</button>
          </span>
          <span>Contact Sales</span>

        </div>
        <div class="footer-group">
          <h3 class="footer-group-header">Obris is For</h3>
          <span>Upstream</span>
          <span>Downstream</span>
          <span>Producing</span>
          <span>Oil Servicing</span>
        </div>
        <div class="footer-group">
          <h3 class="footer-group-header">Support</h3>
          <span>Contact Support</span>
          <span>Report</span>
          <span>Documentation</span>
          <span>Terms and Contions</span>
        </div>
        <div class="footer-group">
          <h3 class="footer-group-header">Community</h3>
          <span>Partners</span>
          <span>Blog</span>
          <span>Events</span>
          <span>Outreach</span>
          <span>Empowerment</span>
        </div>
        <div class="footer-group">
          <h3 class="footer-group-header">Company</h3>
          <span>About</span>
          <span>Services</span>
          <span>Career
            <button mat-button color="warn">We're hiring!</button>
          </span>
          <span>Newsroom</span>
          <span>Investors</span>
          <span>Charity</span>
          <span>Our Team</span>
        </div>
        <div class="social-wrap">
          <fa-icon [icon]="['fab','facebook-f']" size="1x" style="color: #ffc006"></fa-icon>
          <fa-icon [icon]="['fab', 'linkedin']" size="1x" style="color: #ffc006"></fa-icon>
          <fa-icon [icon]="['fab', 'twitter']" size="1x" style="color: #ffc006"></fa-icon>
          <fa-icon [icon]="['fab', 'instagram']" size="1x" style="color: #ffc006"></fa-icon>
          <fa-icon [icon]="['fab', 'pinterest']" size="1x" style="color: #ffc006"></fa-icon>
          <fa-icon icon="share" size="1x" style="color: #ffc006"></fa-icon>
        </div>
        <div class="others">
          <span id="legal">Legal and Security</span>
          <br>
          <span id="copy">@2018 OBRIS ENGINEERING</span>
        </div>
        <div class="sub-form">
          <mat-form-field appearance="standard" color="accent">
            <mat-label>Recieve Our Newsletters</mat-label>
            <input matInput type="email" placeholder="Email Address">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="newletterSignUp()">Subscribe</button>
        </div>
      </div>
    </section>
  </div>
</section>
