.footer {
  display: grid;
  padding: 2rem 3.5rem;
  background: #2a2a2a;
}

.section1 {
  color: white;

  .section1-wrap {
    display: grid;
    grid-gap: 1.5rem;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    .footer-group {
      display: grid;
      align-items: center;
      text-align: center;

      & h3 {
        font-size: 1.3rem;
        font-weight: 600;
        color: #ffc006;
        text-transform: uppercase;
      }
      & span {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}
fa-icon {
  margin-right: 1rem;
}

.social-wrap {
  align-self: center;
}

.sub-form {
  align-self: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.others {
  align-self: center;

  & #legal {
    text-transform: capitalize;
    font-weight: 600;
  }

  & #copy {
    color: #ffc006;
  }
}
