<section class="container">
  <div class="error">
    <fa-icon
      id="missing-icon"
      aria-label="Page not found"
      [icon]="['fas', 'exclamation-triangle']"
    ></fa-icon>
    <h2 class="error-msg">The Page you are looking for does not exist.</h2>
    <a routerLink="/">Return to Main Page</a>
  </div>
</section>
