section {
  display: grid;
  align-items: center;
  margin: 10vh auto;

  .error {
    display: grid;
    justify-items: center;
    border: 3px #ffc600 solid;
    padding: 2rem;
    border-radius: 10px;
    align-content: space-evenly;
    background: #2a2a2a;
    min-height: 70vh;

    #missing-icon {
      font-size: 10rem;
      color: #ffc600;
    }

    h2 {
      font-size: 1.5rem;
      color: #ffc600;
      text-align: center;
    }

    a {
      text-decoration: none;
      background: #ffc600;
      padding: 0.3rem 0.5rem;
      color: #000000;
      border-radius: 5px;
    }
  }
}
