.about-container {
  display: grid;

  #intro {
    width: 100%;
    display: grid;
    background: url(../../assets/img/about.jpg) #2a2a2a;
    background-size: cover;
    align-items: center;
    justify-content: center;

    .hero {
      display: grid;

      .hero-text {
        font-size: 6rem;
        padding: 4rem 0 2rem 0;
        color: #ffc600;
        text-align: center;
      }

      .img-wrapper {
        background: #fffefec9;
        border-radius: 50%;
        justify-self: center;
        margin-bottom: -2rem;
        height: 6.5rem;
        width: 6.5rem;
        display: grid;
        justify-content: center;
        align-items: center;

        img {
          width: 5rem;
        }
      }
    }
  }

  #history {
    display: grid;
    z-index: -3;
    #ceo {
      display: grid;
      align-items: center;
      background-color: #f8f9fa;
      padding: 4rem 0;
      justify-items: center;

      .img-container {
        width: 10rem;
        height: 10rem;
        justify-content: center;
        justify-self: center;
        display: grid;
        align-items: center;
        border-radius: 50%;
        background: whitesmoke;
        box-shadow: 4px 4px 6px 0px #00000038;
        overflow: hidden;

        img {
          width: 9.5rem;
          border-radius: 50%;
        }
      }
      p {
        font-size: 1.5rem;
        width: 70%;
        text-align: center;
        font-weight: 600;
      }
    }

    .content {
      display: grid;
      justify-content: center;
      padding: 2rem 2rem;
      box-shadow: 3px 2px 3px 1px #6c757d;

      h3 {
        font-size: 3rem;
        font-weight: 400;
        color: #ffc600;
        text-shadow: 3px 1px 2px #0000006e;
      }

      p {
        font-size: 1.5rem;
        text-align: justify;
      }
    }
  }
}
