<main class="about-container">
  <div id="intro">
    <div class="hero">
      <h1 class="hero-text">About Us</h1>
      <div class="img-wrapper">
        <img
          src="../../assets/img/main-logo-lg.png"
          alt="Logo"
          class="showcase"
        />
      </div>
    </div>
  </div>
  <div id="history">
    <div id="ceo">
      <div class="img-container">
        <img src="../../assets/img/ceo.jpg" alt="" />
      </div>
      <p id="details">
        The CEO, Onyibor Kingsley is an Entrepreneur. He started Obris
        Engineering in 2010. He has over 15 years experiencing, working in oil
        and gas industry in Russia, Qatar, Nigeria and etc.
      </p>
    </div>
    <div class="content">
      <h3 class="content-title">Obris Engineering</h3>
      <p class="content-body">
        We are a limited liability company established to breach the gap between
        industries and their raw material, and labour and employers.
      </p>
    </div>
  </div>
</main>
