#details-wrapper {
  display: grid;

  .filler {
    height: 60px;
    width: 100%;
    background: #2a2a2a;
    margin-bottom: 0.5rem;
  }
  .content {
    padding: 2rem 8vw;

    h2 {
      font-size: 1.5rem;
      color: #d08905;
    }

    .image-wrapper {
      max-height: 60vh;
      overflow: hidden;
      margin-bottom: 1rem;

      img {
        width: 100%;
      }
    }

    #body {
      font-size: 1.2rem;
      line-height: 2;
      color: #2a2a2a;
      text-align: justify;
    }
  }
}
