<div *ngIf="(current | async) as news" id="details-wrapper">
  <div class="filler"></div>
  <div class="content">
    <h2>{{ news.heading }}</h2>
    <div class="image-wrapper">
      <img [src]="news.content.imgSrc" alt="News Image" />
    </div>
    <p id="body">{{ news.content.body }}</p>
  </div>
</div>
