.main-display {
  display: grid;
  padding-bottom: 2rem;

  & .service-hero {
    display: grid;
    grid-template-columns: 1fr;
    height: 60vh;
    overflow: hidden;
    align-items: center;
    justify-items: center;
    border-radius: 10px 10px 0 0;

    & h3 {
      z-index: 5;
      color: #ffc006;
      font-weight: 300;
      padding: 10px;
      margin: 10vw;
      font-size: 3rem;
      grid-row: 1/-1;
      grid-column: 1/-1;
      background: #2a2a2a;
      border-left: 10px #ffc006 solid;
      border-right: 10px #ffc006 solid;
      border-radius: 10px;
    }

    & #overlay {
      grid-row: 1/-1;
      grid-column: 1/-1;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      z-index: 2;
    }

    & img {
      grid-column: 1/ -1;
      grid-row: 1/ -1;
      z-index: 0;
      overflow: hidden;
      width: 100%;
      align-self: stretch;
    }
  }

  & .service-body {
    display: grid;
    justify-content: center;
    padding: 1em;
    text-align: center;

    & p {
      font-size: 1.2rem;
      color: #2a2a2a;
      font-weight: 500;
    }
  }

  & .categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.2em;
    padding: 0 1em;

    & h3 {
      grid-column: 1/-1;
      justify-self: center;
      background: #ffc006;
      padding: 10px;
      border-left: #2a2a2a 4px solid;
      border-radius: 5px;
    }

    & mat-card {
      border: 2px #ffffff solid;
      border-radius: 20px;
      text-align: justify;
      display: grid;
      min-height: 15rem;
      align-content: center;

      & mat-card-title {
        font-weight: 400;
        text-transform: capitalize;
        text-align: center;
        color: #2a2a2a;
      }

      & mat-card-content {
        text-transform: capitalize;
        color: #2a2a2a;
        font-size: 1rem;
        font-weight: 500;
        text-align: justify;
      }
    }
  }
}
