<main class="main-display" *ngIf="service$ | async as service">
  <div class="service-hero">
    <img *ngIf="img" [src]="img" [alt]="service.name">
    <h3 class="title">
      {{service.name}}
    </h3>
    <div id="overlay"></div>
  </div>
  <div class="service-body">
    <p class="body">{{service.body}}</p>
  </div>
  <div class="categories" *ngIf="cats">
    <h3>{{service.name}} Categories</h3>
    <mat-card *ngFor="let cat of cats; index as i">
      <mat-card-title>
        {{cat.name}}
      </mat-card-title>
      <mat-card-content>
        {{cat.details}}
      </mat-card-content>
    </mat-card>
  </div>
</main>
