<div class="wrapper">
  <section class="subHero">
    <div class="bg-overlay"></div>
    <div class="sub">
      <h3 class="sub-title">Our Goal</h3>
      <p class="sub-body">To place our customers at the peak of the competition in their field and to enhance their
        productivity
        and efficiency, in so doing, maximize their profits by making sure that they have the best techs and products.
      </p>
    </div>
  </section>
  <section class="features">
    <div class="feature" *ngFor="let feature of features; index as i">
      <!-- <mat-icon>{{feature.icon}}</mat-icon> -->
      <fa-icon [icon]="['fas', feature.icon]"></fa-icon>
      <h3 class="feature-title">{{feature.title}}</h3>
      <p class="feature-body">{{feature.body}}</p>
    </div>
  </section>
</div>
