.subHero {
  background-image: url(../../../assets/img/services/architecture.jpg);
  min-height: 400px;
  background-size: cover;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;

  .bg-overlay {
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;
    background: linear-gradient(110deg, #f93d66, #6d47d9);
    z-index: 1;
    opacity: 0.95;
  }

  .sub {
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: 5;
    align-self: center;

    .sub-title {
      text-align: center;
      font-weight: 600;
      color: #ffc006;
      text-transform: uppercase;

      font-size: 3rem;
    }

    .sub-body {
      font-weight: 600;
      line-height: 1.5;
      text-align: center;
      color: #ffc006;
      font-size: 1.4rem;
      padding: 0 4rem;
      text-transform: capitalize;
    }
  }
}

.features {
      display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 2rem 6vw;
    margin: 2rem 0;

  .feature {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: start;
    height: 22rem;
    background-color: #2a2a2a12;
    border-radius: 10px;

    & fa-icon {
      font-size: 5rem;
      color: #6d47d9;
      grid-row: 1 / span 2;
      grid-column: 1 / -1;
    }

    .feature-title {
      font-size: 2rem;
      font-weight: 400;
      color: var(--orange);
      margin: 1.5rem 0;
      grid-row: 3 / 4;
      grid-column: 1 / -1;
      text-overflow: clip;
    }
    .feature-body {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.2;
      grid-row: 4 / -1;
      grid-column: 1 / -1;
      color: #313338;
      text-overflow: ellipsis;
      text-align: center;
      padding: 1rem;
    }
  }
}

.wrapper {
  margin-top: 35px auto;
}
