.contact-container {
  display: grid;

  #intro {
    width: 100%;
    display: grid;
    background: url(../../assets/img/about.jpg) #2a2a2a;
    background-size: cover;
    align-items: center;
    justify-content: center;
    z-index: 2;

    .hero {
      display: grid;

      .hero-text {
        font-size: 6rem;
        padding: 4rem 0 2rem 0;
        color: #ffc600;
        text-align: center;
        text-shadow: 6px 6px 3px #00000042;
      }

      .img-wrapper {
        background: #fffefec9;
        border-radius: 50%;
        justify-self: center;
        margin-bottom: -2rem;
        height: 6.5rem;
        width: 6.5rem;
        display: grid;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 6px 6px 2px #0000009c;

        img {
          width: 5rem;
        }
      }
    }
  }

  .form-container {
    background-image: repeating-linear-gradient(
        45deg,
        var(--t) 0,
        var(--t) 32px,
        var(--c) 32px,
        var(--c) 44px,
        var(--t) 44px,
        var(--t) 56px,
        var(--c) 56px,
        var(--c) 68px,
        var(--t) 0
      ),
      repeating-linear-gradient(
        -45deg,
        var(--t) 0,
        var(--t) 32px,
        var(--c) 32px,
        var(--c) 44px,
        var(--t) 44px,
        var(--t) 56px,
        var(--c) 56px,
        var(--c) 68px,
        var(--t) 0
      ),
      linear-gradient(to bottom left, #212529, #212529);
    --c: rgba(255, 255, 255, 0.32);
    --t: transparent;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10vh 0;
    z-index: 1;

    form {
      background: #ffffff;
      border-radius: 1rem;
      padding: 2rem;
      display: flex;
      width: 80vw;
      flex-direction: column;
          box-shadow: 5px 5px 12px 1px #00000085;

          .btn-and-status {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-self: center;
             
            .error {
              color: rgb(219, 70, 70);
            }
            .loading {
              color: #ffc600;
            }
            .success {
              color: #197119;
            }
          }
    }
  }
}
