<main class="contact-container">
  <div id="intro">
    <div class="hero">
      <h1 class="hero-text">Contact Us Via</h1>
      <div class="img-wrapper">
        <img src="../../assets/img/main-logo-lg.png" alt="Logo" class="showcase">
      </div>
    </div>
  </div>
  <div class="form-container">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="standard">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Service Name" formControlName="name" (click)="hide()">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Select Type" formControlName="type">
          <mat-option *ngFor="let choice of choices" [value]="choice.value">
            {{choice.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Message</mat-label>
        <textarea matInput placeholder="Reach Out to Us" formControlName="body"></textarea>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="So we can contact you" formControlName="phone">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Your Email" formControlName="email" type="email">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Company</mat-label>
        <input matInput placeholder="Name of Your company" formControlName="company">
      </mat-form-field>

      <div class="btn-and-status">
        <button mat-raised-button color="primary" type="button" (click)="onSubmit()" [disabled]="contactForm.pristine">Save</button>
        &nbsp;
        <button mat-raised-button color="accent" type="button" (click)="revert()" [disabled]="contactForm.pristine">Revert</button>
        <span class="loading" *ngIf="loading">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
          Please wait...
        </span>
        <span class="success" *ngIf="success">
          <fa-icon [icon]="['fas', 'check-double']"></fa-icon>
          Successfully submitted
        </span>
        <span class="error" *ngIf="error">
          <fa-icon [icon]="['fas', 'exclamation-circle']"></fa-icon>
          There was an error....Try again please
        </span>
      </div>
    </form>


  </div>
</main>