.display-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-bottom: 1.5rem;
  padding: 2rem 6vw;
  min-height: 20vh;
  background: #eee;
}
.title {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  & h1 {
    font-weight: 400;
    color: #2a2a2a;
  }
}

mat-card {
  display: grid;
  justify-items: center;
  border-radius: 5px;
}

mat-card-title {
  color: #2a2a2a;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
}

mat-card-content {
  font-size: 1rem;
  font-weight: 400;
  color: #313338;
}
