<div class="title"><h1 mat-toolbar>Core Services</h1></div>
<section class="display-container" *ngIf="services$">
  <mat-card *ngFor="let service of (services$ | async)">
    <mat-card-title> {{ service.name }} </mat-card-title>
    <img mat-card-image src="{{ service.src | async }}" />
    <!--
      <mat-card-content>
        {{service.body}}
      </mat-card-content>
    -->
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="button"
        routerLink="/services/{{service.id}}"
      >
        See More
      </button>
    </mat-card-actions>
  </mat-card>
</section>
