.m-display {
  display: grid;
  padding-bottom: 2rem;

  & .service-hero {
    background: #2a2a2a url(../../../assets/img/services/tooling.jpg);
    background-size: cover;
    height: 60vh;
    overflow: hidden;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px 10px 0 0;

    & h3 {
      color: #ffc006;
      font-weight: 300;
      padding: 10px;
      margin: 10vw;
      font-size: 3rem;
      grid-row: 1/-1;
      grid-column: 1/-1;
      background: #2a2a2a;
      border-left: 10px #ffc006 solid;
      border-right: 10px #ffc006 solid;
      border-radius: 10px;
    }
  }

  & .service-body {
    display: grid;
    justify-content: center;
    padding: 1em;
    text-align: center;

    & p {
      font-size: 1.2rem;
      color: #2a2a2a;
      font-weight: 700;
    }
  }
}
