<main class="m-display">
  <div class="service-hero">
    <h3 class="title">
      Obris Engineering Services
    </h3>
  </div>
  <div class="service-body">
    <p class="body">We provide arrays of services to take you and your company to greater productivity and efficiency.</p>
  </div>
</main>
