<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{ hidden: (isNotHandset | async ) }"
    fixedInViewport="false"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async) ? 'over' : 'side'"
    [opened]="(isNotHandset | async )"
  >
    <mat-toolbar id="menu">MENU</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/services">Services</a>
      <a mat-list-item href="/news">News</a> 
      <!-- <a mat-list-item href="#">Blog</a> -->
      <a mat-list-item routerLink="/contact">Contact Us</a>
      <a mat-list-item routerLink="/about">About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="top">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)"
      >
        <!-- <mat-icon aria-label="Side nav toggle icon">menu</mat-icon> -->
        <fa-icon class="search-icon"
          aria-label="Side nav toggle icon"
          [icon]="['fas', 'bars']"
        ></fa-icon>
      </button>
      <img
        routerLink="/"
        src="../../assets/img/main-logo-lg.png"
        alt="logo"
        id="logo"
      />
      <span routerLink="/" class="title">Obris Engineering</span>
      <a routerLink="/services" *ngIf="(isNotHandset | async )">Services</a>
      <a href="/news" *ngIf="(isNotHandset | async )">News</a>
      <!-- <a href="#" *ngIf="(isNotHandset | async )">Blog</a> -->
      <span class="spacer"></span>
      <!-- <mat-icon aria-label="Search">search</mat-icon> -->
      <fa-icon aria-label="Search" [icon]="['fas', 'search']" (click)="openModal(template)"></fa-icon>
      <a routerLink="/contact" *ngIf="(isNotHandset | async )">Contact Us</a>
      <a routerLink="/about" *ngIf="(isNotHandset | async )">About</a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #template>
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-search (closeEvent)="modalRef.hide()"></app-search>
  </div>
</ng-template>
