.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.hidden {
  display: none;
}

.closed {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

.top {
  height: 50px;
  background: rgba(0, 0, 0, 0.24);
  z-index: 20;
  position: fixed;
  top: 0%;
  left: 0%;
}

.mat-toolbar {
  color: white;
}

.top > a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 1rem;
}

.title {
  margin-right: 30px;
  cursor: pointer;
}

.top > img {
  display: inline-block;
  height: 50px;
  width: 50px;
  padding: 8px;
}

#menu {
  color: white;
  background: #2a2a2a;
}

mat-sidenav {
  background: #2a2a2a;
}

.search-icon {
  margin-right: 0.5rem;
}

mat-nav-list {
  margin-top: 1rem;
  display: grid;
  justify-content: start;
}
mat-nav-list > a {
  color: #ffc600;
}
