/* Preload styles */
.anim {
  display: grid;
  height: 100vh;
  width: 100%;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;

  .preload {
    height: 100px;
    width: 100px;
    grid-row: -1/1;
    grid-column: -1/1;
    border-radius: 50%;
    border: #ffc600 3px solid;
    border-top-color: #2a2a2a;
    color: darkgrey;
    font-size: 2rem;
    animation: spin 1s infinite ease-in-out;
  }

  p {
    font-style: italic;
    grid-column: -1/1;
    grid-row: -1/1;
    margin-top: 4rem;
  }
  h1 {
    font-size: 1.5rem;
    color: #ffc600;
    grid-row: -1/ 1;
    grid-column: -1/1;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
