<app-main-nav>
  <!-- <div class="anim" *ngIf="loading">
      <div class="preload"></div>
      <h1>Obris</h1>
      <p>Loading...</p>
</div> -->
  <app-loading *ngIf="loading"></app-loading>
  <div class="" *ngIf="!loading">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</app-main-nav>
