<carousel [showIndicators]="false">
  <slide *ngFor="let datum of data; let index = index">
    <img
      *ngIf="datum"
      [src]="datum.image"
      [alt]="datum.title"
      style="display: block; width: 100%;"
    />
    <div class="carousel-caption">
      <h1>{{ datum.title }}</h1>
    </div>
  </slide>
</carousel>
