.item {
  max-height: 90vh;
  overflow: hidden;
  margin-top: -50px;
  z-index: -1;
}

.carousel-caption h1 {
  color: #ffc600;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
}

.carousel-caption {
  background: #21252991 !important;
}
