<div class="service-wrapper">
  <div class="filler"></div>
  <aside class="side-bar" [ngClass]="{ hidden: isHandset | async }">
    <h3 class="side-heading">Select Service</h3>
    <ul>
      <li *ngFor="let s of (services | async)">
        <a [routerLink]="['/services', s.id]" routerLinkActive="active">
          {{ s.name }}
        </a>
      </li>
    </ul>
  </aside>

  <button
    id="service-navigator"
    [ngClass]="{ hidden: isNotHandset | async }"
    mat-fab
    color="primary"
    [matMenuTriggerFor]="menu"
  >
    <fa-icon
      id="search-icon"
      aria-label="Services list toggle"
      [icon]="['fas', 'ellipsis-v']"
    ></fa-icon>
  </button>

  <mat-menu
    #menu="matMenu"
    hasBackdrop="true"
    overlapTrigger="true"
    xPosition="before"
    yPosition="above"
  >
    <a
      mat-menu-item
      [routerLink]="[service.id]"
      routerLinkActive="active"
      *ngFor="let service of (services | async)"
      >{{ service.name }}</a
    >
  </mat-menu>
  <main class="main-display">
    <!-- <app-loading *ngIf="loading"></app-loading>
    <div class="" *ngIf="!loading">
    </div> -->
    <router-outlet></router-outlet>

  </main>
</div>
