.service-wrapper {
  display: grid;
  grid-template-areas:
    'overlay overlay overlay overlay overlay'
    'sidebar main main main main'
    'sidebar main main main main';
  margin-bottom: 20px;
  background: #eee;

  & .filler {
    height: 60px;
    width: 100%;
    background: #2a2a2a;
    grid-area: overlay;
    margin-bottom: 0.5rem;
  }

  & aside {
    grid-area: sidebar;
    display: grid;
    justify-content: space-evenly;
    min-width: 250px;
    align-content: start;
    grid-template-rows: 100px auto;
    padding: 20px 0;
    background-color: #2a2a2a;
    border-radius: 0 10px 10px 0;
    margin-right: 0.5rem;

    &.hidden {
      display: none;
    }

    & h3 {
      font-weight: 300;
      color: white;
    }

    & ul {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;

      & li {
        list-style: none;
        margin-bottom: 30px;
        font-weight: 500;

        & a {
          text-decoration: none;
          color: #ffc006;

          &.active {
            color: #2a2a2a;
            padding: 10px;
            background: #ffc006;
          }
        }
      }
    }
  }

  & main.main-display {
    background-color: #eee;
    grid-area: main;
  }

  & mat-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffc006;

    &.active {
      color: var(--primary);
    }
  }

  & #service-navigator {
    position: fixed;
    bottom: 0;
    z-index: 4;
    right: 0;
    margin-right: 2em;
    margin-bottom: 2em;
  }
}

.hidden {
  display: none;
}

button[mat-fab] {
  background: #ffc006 !important;
}