<div class="news-container">
    <div class="filler"></div>
    <ul *ngIf="news; else noNews">
        <li class="news-item" *ngFor="let new of (news | async)">
            <div class="img">
                <img src="{{new.content.imgSrc}}" alt="News thumbnail">
            </div>
            <section>
                <h3>
                    <a [routerLink]="['/news', new._id]" routerLinkActive="active">
                        {{ new.heading }}
                    </a>
                </h3>
                <p>{{ new.intro }}</p>

            </section>
        </li>
    </ul>
    <ng-template #noNews>
        <h2 class="none">
            No news available. Try refreshing the page!
        </h2>
    </ng-template>
</div>