.news-container {
  display: grid;

  .filler {
    height: 60px;
    width: 100%;
    background: #2a2a2a;
    margin-bottom: 0.5rem;
  }

  ul {
    padding: 1.5rem 6vw;

    li {
      list-style-type: none;
      border-left: 5px solid #ffc107d9;
      margin-bottom: 1.5rem;
      box-shadow: 2px 3px 13px #2a2a2a61;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;

      .img {
        flex: 1 0 400px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      section {
        display: flex;
        flex-direction: column;
        background: #2a2a2a;
        padding: 1rem;
        flex: 999;
        justify-content: center;
        align-items: center;

        h3 {
          font-size: 1.4rem;
          font-weight: 400;
          text-align: center;

          a {
            text-decoration: none;
            color: #ffc600;
          }
        }

        p {
          font-size: 1.2rem;
          color: #f8f9fa;
          text-align: justify;
          padding: 0 5vw;
        }
      }
    }
  }

  h2.noNews {
    align-self: center;
    color: #2a2a2a;
  }
}
