<main class="search-container">
  <ais-instantsearch
    [config]="{
      apiKey: 'cce6367d33c982a774db3c97cf374893',
      appId: 'BW7LGTR3KL',
      indexName: 'obris-services',
      routing: true,
      hitsPerPage: 5
    }"
  >
    <ais-search-box
      placeholder="Type here"
      id="search-container"
    ></ais-search-box>
    <ais-hits>
      <ng-template let-hits="hits" let-results="results">
        <p class="info" *ngIf="hits.length === 0">
          No results were found for the query: {{ results.query }}.
        </p>
        <div *ngFor="let hit of hits" class="hit-results">
          <!--
            <p id="name" routerLink="/services/{{hit.id}}">{{ hit.name }}</p>
          -->
          <ais-highlight
            attribute="name"
            routerLink="/services/{{hit.id}}"
            [hit]="hit"
            (click)="sendMessage()"
          >
          </ais-highlight>
          <div class="cat" *ngFor="let cat of hit.categories">
            <p
              class="detail"
              routerLink="/services/{{hit.id}}"
              (click)="sendMessage()"
            >
              {{ cat.name }}
            </p>
          </div>
        </div>
      </ng-template>
    </ais-hits>
    <ais-pagination></ais-pagination>
  </ais-instantsearch>
</main>
