.search-container {
  max-height: 70vh;
  overflow-y: scroll;
}

.ais-Hits {
  margin-top: 1rem;
}

.hit-results {
  display: grid;

  .cat {
    margin-left: 3rem;

    p.detail {
      font-style: italic;
      color: #2a2a2a;
    }
  }
}

ais-highlight, p.details {
  cursor: pointer;
  width: 60%;
}